@model IEnumerable<EFBook.CATEGORY>

<ul id="categories">
    @foreach (var category in Model)
    {
        <li>@Html.ActionLink(category.CategoryName,
                "Browse", "Store", 
                new { Category = category.CategoryName }, null)
        </li>
    }
</ul>
