@model IEnumerable<EFBook.CATEGORY>

@{
    ViewBag.Title = "Index";
}

<h2>Browse Categories</h2>
<p>
    Select from @Model.Count()
categories:</p>
<ul>
    @foreach (var category in Model)
    {
                <li>@Html.ActionLink(category.CategoryName,
"Browse", new { category = category.CategoryName })</li>

    }
</ul>